@media screen and (min-width: 320px) {

  .hide {
    display: block;
  }

  .input {
    display: none;
  }

  .circle {
    display: block;
  }

  .socials {
    display: none;
  }

  .desktop {
    display: none;
  }


  .menu {
    display: block;
  }


}

@media screen and (min-width: 550px) {
  .form-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 3.2rem;
  }

  .hide {
    display: none;
  }


  .input {
    display: none;
  }

}


@media screen and (min-width: 768px) {
  .form-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 3.2rem;
  }

  .hide {
    display: none;
  }

  .circle {
    display: none;
  }

  .footer-nav .container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 20px;
  }

  .footer-nav-list {
    min-width: calc(33.33% - 15px);
    width: calc(33.33% - 15px);
    flex-grow: 1;
  }

  .footer-nav-list:not(:last-child) {
    margin-bottom: 0;
  }

  .input {
    background-color: rgb(217, 220, 222);
    border: none;
    padding: 0.8rem;
    width: 100%;
    border-radius: 1.5rem;
  }

  #menu-toggle {
    display: none;
  }

}

@media screen and (min-width: 960px) {
  .form-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 3.2rem;
  }

  .hide {
    display: none;
  }

  .socials {
    display: block;
  }

  .menu {
    display: none;
  }

 
  .desktop {
    display: block;
  }

  .input {
    display: block;
  }

  #menu-toggle {
    display: none;
  }
}