
$color0: #fff;
$color1: #000;
$colorgroup1a: #5c6e58;
$colorgroup1b: #8aa899;
$colorgroup1c: #f2d349;

$colorgroup2a: #E1f2f7;
$colorgroup2b: #ef0d50;
$colorgroup2c: #eb3a70;
$colorgroup2d: #e5bace;

$colorgroup3a: #001730;
$colorgroup3b: #4ad7d1;
$colorgroup3c:#fe4a49;

$colorgroup4a: #f6f4f2;
$colorgroup4b: #425664;
$colorgroup4c: #c6ad8f;

$colorgroup5a: #5ac3b0;
$colorgroup5b: #de5935;
$colorgroup5c: #f7cd46;

$color11: #c6dec6;


$width1: 100%;
$width2: 96%;
$width3: 90%;
$width4: 85%;
$width5: 80%;
$width6: 44%;
$width7: 33%;
$width8: 22%;
$width9: 11%;

$margin: 0 auto;
$padding: 20px;
$padding-small:10px;
$p-t: 1.3rem;
$p-b: 1.3rem;
$b-r: 6px;
$m-t: 0.3rem;
$m-b: 0.3rem;
$spanish-gray: hsl(0, 0%, 60%);
$sonic-silver: hsl(0, 0%, 47%);
$eerie-black: hsl(0, 0%, 13%);
$salmon-pink: hsl(353, 100%, 78%);
$sandy-brown: hsl(29, 90%, 65%);
$bittersweet: hsl(0, 100%, 70%);
$ocean-green: hsl(152, 51%, 52%);
$davys-gray: hsl(0, 0%, 33%);
$cultured: hsl(0, 0%, 93%);
$white: hsl(0, 100%, 100%);
$onyx: hsl(0, 0%, 27%);

/**
   * typography
   */

$fs-1: 1.563rem;
$fs-2: 1.375rem;
$fs-3: 1.25rem;
$fs-4: 1.125rem;
$fs-5: 1rem;
$fs-6: 0.938rem;
$fs-7: 0.875rem;
$fs-8: 0.813rem;
$fs-9: 0.75rem;
$fs-10: 0.688rem;
$fs-11: 0.625rem;

$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;

/**
   * border-radius
   */
$border-radius-md: 10px;
$border-radius-sm: 5px;

/**
   * transition 
   */

$transition-timing: 0.5s ease;





