
$color0: #fff;
$color2: #787878;
$color3: #616161;
$color4: #3c3c3c;
$color1: #000;
$color2: #87cefa;
$color3: #87ceeb;
$color4: #add8e6;
$color5: #b0e0e6;
$color6: #b0c4de;
$color7: #4682b4;
$color2: #5f9ea0;
$color8: #00bfff;
$color9: #1e90ff;
$color10: #6495ed;
$color11: #4169e1;
$color12: #0000ff;
$color13: #0000cd;
$color14: #00008b;
$color15: #000080;
$color16: #191970;
$color17: #222;
$color18: #005;
$color19: #111;
$color20: #333;


$width1: 100%;
$width2: 88%;
$width3: 77%;
$width4: 66%;
$width5: 55%;
$width6: 44%;
$width7: 33%;
$width8: 22%;
$width9: 11%;

$margin: 0 auto;
$p-t: 1.3rem;
$p-b: 1.3rem;
$b-r: 6px;
$m-t: 0.3rem;
$m-b: 0.3rem;



