
//color
$primaryColor1: #f0f0f0;
$primaryColor2: #787878;
$primaryColor3: #616161;
$primaryColor4: #3c3c3c;
$secondaryColor1: #000;
$secondaryColor2: #87cefa;
$secondaryColor3: #87ceeb;
$secondaryColor4: #add8e6;
$secondaryColor5: #b0e0e6;
$secondaryColor6: #b0c4de;
$secondaryColor7: #4682b4;
$secondaryColor2: #5f9ea0;
$secondaryColor8: #00bfff;
$secondaryColor9: #1e90ff;
$secondaryColor10: #6495ed;
$secondaryColor11: #4169e1;
$secondaryColor12: #0000ff;
$secondaryColor13: #0000cd;
$secondaryColor14: #00008b;
$secondaryColor15: #000080;
$secondaryColor16: #191970;
$tertiaryColor1: #222;
$tertiaryColor2: #005;
$tertiaryColor3: #111;
$tertiaryColor4: #333;



//width
$width1: 100%;
$width2: 88%;
$width3: 77%;
$width4: 66%;
$width5: 55%;
$width6: 44%;
$width7: 33%;
$width8: 22%;
$width9: 11%;
//padding
$padding1: 0.7rem;

//margin
$margin1: 1.2rem;



