.container {
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 4rem;

}
.small {
 flex-basis: 40%;
 padding: 2%;
 flex-grow: 1;
 display: flex;
 gap: 3rem;
}
.large {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container .small:first-child,
 .container .small:nth-child(2){
  flex: 2 46%;
}

@media screen and (min-width: 320px) {
  .container {
    padding: 2rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10rem;
    justify-content: center;
    display: grid;
  }
  .small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
  }
    .product-filter {
      flex-direction: column;
    }
  
    .sort {
      align-self: flex-start;
    }
 
}
@media  (max-width: 480px) {
.product-filter {
    flex-direction: column;
  }
  .sort{
    align-self: flex-start;
  }
}


@media screen and (min-width: 960px) {
  .container {
display: flex;
  flex-wrap: wrap;

  }

}



.container {
  padding: 0;
}

.maincont {
  background: rgb(8, 8, 49);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Montserrat;
  color: #fff;
}

.maincont h1 {
  text-transform: uppercase;
}

.newtodo h3 {
  text-align: center;
}

.newtodo .semi {
  display: flex;
  gap: 8px;
}

.semi input {
  padding: 5px 7px;
  border: 2px solid rgb(52, 52, 114);
  outline: none;
  border-radius: 4px;
}

.semi button {
  border: none;
  padding: 5px 13px;
  background: #fff;
  color: rgb(8, 8, 49);
  border-radius: 5px;
  font-weight: bold;
}

.eachtodo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.eachtodo div button {
  color: red;
  background: none;
  border: none;
  opacity: 70%;
  font-family: monospace;
  font-weight: 600;
}

.maincont button:hover {
  cursor: pointer;
}

.text {
  max-width: 350px;
}
