.column {
    float: left;
    width: 33.3%;

}

.cardie {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   
}

.about-section {
 
    text-align: center;

}


.containerz::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}



.button {
    border: none;
    outline: 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}