@import "../abstracts/variables";
.blog-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 10px 22px;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
}

.blog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 17px;
transition: $transition-timing;

}

abbr {
    text-decoration: none;
}
b{
    color: $color1;
}
b:hover {
   opacity: 1;
   color: blue;
}
.blog-image{
    transition: $transition-timing;
    background-color: $color0;
    z-index: 0;
}
.blog-image:hover {
   opacity:0.6 ;
}