@import "../abstracts/variables";

.blog-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    padding-top: $p-t;
    padding-bottom: $p-b;
}

.list-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding-top: $p-t;
        padding-bottom: $p-b;

}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
<<<<<<< HEAD
    padding-top: $p-t;
        padding-bottom: $p-b;
=======
gap:1rem;
>>>>>>> 20cc8ea130ef6db92257bb93363448d75f0f8535
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    flex-direction: row;
    padding-top: $p-t;
        padding-bottom: $p-b;
}

.list::-webkit-scrollbar {
    display: none;
}

.item {
    flex-shrink: 0;
    width: 100%;
    height: 58vh;
    scroll-snap-align: center;

}



.item-work {
    flex-shrink: 0;
    width: 100%;
    height: 75vh;
    scroll-snap-align: center;

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: $p-t;
        padding-bottom: $p-b;


}

.blog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: $transition-timing;

}

.blog-link {
    color: black;
}

.blog-image {
    transition: $transition-timing;
    z-index: 0;
}

.blog-image:hover {
    opacity: 0.6;
}

@media (max-width: 700px) {

.blog-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .list-wrapper {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 350px;
        margin: 0 auto;

    }



    .item {
        flex-shrink: 0;
        width: 100%;
        height: 40vh;
        scroll-snap-align: center;

    }

    .item-work {
        flex-shrink: 0;
        width: 100%;
        height: 40vh;
        scroll-snap-align: center;

    }}}
