@import "../abstracts/variables";
.category {
    width: $width1;
    padding: $padding;
    margin: $margin;
    padding-top: $p-t;
        padding-bottom: $p-b;
}

.category-heading {
    text-align: start;
    padding: $padding;
   
}

.category-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
 
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: $margin;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;
}