label {
    display: block;
}

.paystack-button {
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    width: 100%;

}


.text-align{
    text-align: left;

  
}