.collection-sort-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.product-filter{
    display: flex;
}
.product-filter h3{
    flex-grow: 1;
}
.sort{
    display: flex;
   
}
.collection-sort{
    display: flex;
    flex-direction: column;
}
