.delivery-text {
  width: 88%;
  margin: 0 auto;

}

.delivery-text-head {
  width: 92%;
  margin: 0 auto;


}

.form-container {
  padding: 20px;
  margin-top: 2rem;
  margin: 0 auto;
  width: 100%;
}