@import "../abstracts/variables";
.terms{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}
.delivery-text{
  width: 88%;
margin-left: auto;
margin-right: auto;
color: $primaryColor2;
}
.delivery-text-head {
  width: 92%;
  margin-left: auto;
  margin-right: auto;

}


input[type=text],input[type=phone],
input[type=email],
select,
textarea{
  width: 100%;
  background-color: rgb(217, 220, 222);
  border: none;
  border-radius: 4px;
  padding: 1.5rem;
  box-sizing: border-box;
  resize: vertical;
}

label{
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=submit]{
  
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  float: right;
  transition: 0.3s ease;
}
input[type=submit]:hover {
 background-color: #f2f2f2;
 color: #000;
}
.form-container{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
text-align: start;
width: 88%;
}
textarea{
  height: 200px;
  margin-bottom: 2rem;
}
.col-25{
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-25 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.rows::after{
  content: "";
  display: table;
  clear: both;
}
.rows{
  width: 100%;
}
