@import "../abstracts/variables";
.terms{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}
.delivery-text{
  width: 88%;
margin-left: auto;
margin-right: auto;
color: $primaryColor2;
}
.delivery-text-head {
  width: 92%;
  margin-left: auto;
  margin-right: auto;

}



label{
  padding: 12px 12px 12px 0;
  display: inline-block;
}


.form-container{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
text-align: start;
width: 88%;
}

