@import "../abstracts/variables";
.terms-wrap {
  width: $width1;
    padding-top: $p-t;
      padding-bottom: $p-b;
  



}
.delivery-text {
  text-align: left;
  line-height: 1.9;
  font-weight: 100;
width:93%;
padding-left:12px;

}
