@import "../abstracts/variables";

.heading {
  text-align: start;

}

.form-group {

  width: $width5;
  margin: $margin;

}

.footer-button {
  padding: 10px 15px;
  border: 1px solid #bbb;
  background-color: white;
  text-align: center;
  color: black;
  transition: 0.3s ease;


}

.footer-button:hover {

  background-color: black;
  text-align: center;
  color: white;

}


.footer-link {

  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;


}

.links {
  margin: 0 auto;
  margin: 1rem;


}

hr {
  margin: 0 auto;
  margin-top: 2rem;
  width: 15%;

}

.text-underline {
  text-decoration: underline;
}

.black {
  color: black;
}

.background-gray {
  background-color: gainsboro;
  text-align: center;
  width: $width1;
  margin: $margin;
  padding: $p-b $p-t;


}

.text-align-start {
  margin-top: 2rem;
  padding: $p-b $p-t;

}

.full-width {
  width: 88%;
  color: #bbb;

}

.text-align-start-wide {
  width: $width1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: $p-b $p-t;
  -webkit-justify-content: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -moz-justify-content: flex-start;
  -o-justify-content: flex-start;
  -ms-justify-content: flex-start;

}

.text-align-start-wide ul li {
  padding-top: $p-b;
  padding-bottom: $p-t;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;

}

select::-ms-expand {
  display: none;
}

selectdiv:after {
  content: '<>';
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  padding: 0 0 2px;
  border-bottom: 1px soid #999;
  position: absolute;
  pointer-events: none;
}

.momo {
border: none;


}
.inline{
  margin: $margin;
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.down {
  margin: $margin;
  text-align: center;
}