footer{
  width: 100%;
  background-color: #222;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.footer-col{
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
margin-bottom: 1rem;


}
.row{
padding: 1rem;

  

}
.align-center{
display: inline-flex;
align-items: center;
gap: 1.1rem;


}
.footer-link{
  padding-top: 1rem;
margin: 1rem;

}
.links{
  padding-top: 1rem;
    color: #808080;

}
.rights{
display: flex;
justify-content: center;
  color: #808080;

}