@import "../abstracts/variables";

footer {
  width: 100%;
display:flex;
flex-direction:column;
align-items:center;
  padding-top: 1.3rem;
padding-bottom:0.3rem;
background-color: $colorgroup4b;
}

.footer-tag{
color: $colorgroup2a;
display:block;
margin:10px;
padding: 10px;
}


.ibrid-box-flex {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
background-color:gold;

}

hr {

  width: 100%;
opacity:0.3;
}

.footer-flex-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
    text-align: start;
    margin: 10px;

}
.short-width{
  width: 20%;
  opacity: 0.1;
}


.payment-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}


.payment-logo {
  width: auto;
  height: auto;
  border-radius: 2px;
}

.button-submit {
  border: none;
  text-align: center;
  width: 66%;
  transition: 0.3s ease;
}

.button-submit:hover {
  opacity: 0.6;
}



.down {
  margin: 1.3rem;
  text-align: center;

}
.footer-align-left{
width:100%;
text-align:left;
}


