@import "../abstracts/variables";
.form-container{
 border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


input[type=text],input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}

textarea {
     display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
padding: 12px 20px;
    width:100%;

  
}
input:focus{
outline:none;
}
textarea:focus{
outline:none;
}

input::-webkit-input-placeholder {
    font: inherit;
}

input::-moz-placeholder {
    font: inherit;
}

input:-ms-input-placeholder {
    font: inherit;
}

input::-ms-input-placeholder {
    font: inherit;
}

input::placeholder {
    font: inherit;
  
   
}




