
//hamburger menu
.nav-container{
  width: 5%;
margin-top:-20px;
}
/* HamburgerMenu.css */
.nav-toggle {
  display: none;
}
.logo{
  color:#fff;
  font-size: 20px;
  line-height: 1.3;
}
.hamburger {
  display: none;
  cursor: pointer;
  padding: 15px;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background: snow;
  margin: 5px 0;
  transition: all 0.3s ease;

}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
.nav-menu-link{
  color:#fff;
}

.nav-menu li a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.nav-menu li a:hover {
  color: #007bff;
}

/* Mobile styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .nav-toggle:checked ~ .nav-menu {
    display: flex;
  }

  .nav-toggle:checked + .hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .nav-toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }

  .nav-toggle:checked + .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}

/* Desktop styles */
@media (min-width: 769px) {
  .nav-menu {
    display: flex !important;
  }
}




.text-change {

text-align:center;
  width:100%;
  background-color: #dcd3cc;
  padding: 10px 13px;

}

.text-change::before {
  content: "First";
  animation: changeText 16s infinite;
animation-delay:10s ease;
}

@keyframes changeText {
  0%, 25% {
    content: "Welcome to Our Store";
  }
  25%, 50% {
    content: "We deliver across West Africa ";
  }
  50%, 75% {
    content: "Tees and Sneakers ";
  }
  75%, 100% {
    content: "Subscribe to our Newsletter";
  }
}





#link {
  color: black;
}



.header-flex-row{
width:100%;
display:flex;
flex-direction:row;
align-itema:center;
justify-content:space-between;
margin-top: 30px;
margin-bottom:30px;
  
  
}

header {
position:fixed;
  width:100%;
  background-color: #173856;
z-index:1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: subtle shadow */
}



.header-link {
  color: black;
}

.header-link:hover {
  opacity: 0.7;
}

#header-link {
  color: black;
}




