.inline {
   width: 1200px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 10px 20px;
}



.shop-nows {
  text-align: center;
  border: none;
  border-radius: 2px;
}
.product-container{
   width:100%;
  padding: 10px 14px;
}

.product-card {
  padding: 8px 1px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-between;
 
}

.shop-nows:hover {
  opacity: 0.3;
}

@media (max-width: 700px) {
  .product-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-between;

  }

}

.jean-bg {
width:100%;
padding:10px 14px;
  a {
    text-decoration: underline;
    text-align: left;
  }
}

.sale-box {
   width:100%;
margin: 0 auto;
display:flex;
flex-direction: column;
align-items: center;
gap: 1.6rem;
  max-width: 95%;    

  background: #800000;
  color: #fff;

  a {
    text-decoration: underline;
    color: #fff;
  }
}

