

.shop-nows {

  text-align: center;
  border: none;
  border-radius: 2px;
}

.product-card{
width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-between;
}

.shop-nows:hover {
  opacity: 0.3;
}

@media (max-width: 700px) {
  .product-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-between;

  }

}

.jean-bg{
background: url("https://images.unsplash.com/photo-1565416700374-d0efa117d162?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
height: 80px;
a{
text-decoration: underline;
text-align: left;
}
}



