

.integrity {
  width: 100%;
margin-top: 4rem; 
padding: 1rem;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;

}
.shop-nows {
  background: white;
  color: black;
  text-align: center;
  transition: 0.5s;
  padding: 9px 22px;
  border: none;
  margin-top: 3rem;

}

.shop-nows:hover {
  background: #2222;
  padding:5px 11px ;
  

}
.new {
  width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 3rem;
margin-bottom: 3rem;

}
.thrift{
  width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin: 0 auto;
    margin-top: 12rem;
    background-image: url(/thrift.svg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    color: white;
    font-weight: 900;
}


