 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 15;
    transition: 0.5s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}



/**
 * MODAL 
 */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
    animation: popup 1s ease-in-out 5s forwards;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
}

@keyframes popup {

    0% {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    100% {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

}

.modal.closed {
    display: none;
}

.modal-close-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.newsletter-img {
    display: none;
}

.modal-content {
    position: relative;
    max-width: 350px;
    margin: 20px;
    background: $color1;
    border-radius: $border-radius-md;
    overflow: hidden;
    z-index: 2;
    animation: scaleUp 0.5s ease-in-out 5s forwards;
}

@keyframes scaleUp {

    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }

}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: red;
    font-size: 16px;
    padding: 5px;
    border-radius: $border-radius-sm;
}

.modal-close-btn:hover {
    opacity: 0.9;
}

.modal-close-btn ion-icon {
    --ionicon-stroke-width: 70px;
}

.newsletter {
    padding: 50px 30px;
    text-align: center;
}

.newsletter-header {
    margin-bottom: 20px;
}

.newsletter-title {
    color: $white;
    font-size: $fs-2;
    font-weight: $weight-600;
    margin-bottom: 10px;
}

.newsletter-desc {
    color: $sonic-silver;
    font-size: $fs-7;
    line-height: 1.6;
}

.email-field {
    font-size: $fs-6;
    padding: 8px 16px;
    border-radius: border-radius-sm;
    border: 1px solid $cultured;
    margin-bottom: 16px;
}

.btn-newsletter {
    background: $eerie-black;
    color: $white;
    font-size: $fs-7;
    font-weight: $weight-600;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: $border-radius-sm;
    margin: auto;
    transition: $transition-timing;
}

.btn-newsletter:hover {
    background: $white;
    color: $color1;
}