


.ibrid-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px 30px;
  column-gap: 20px;
  justify-content: space-between



}

.bgg222 {
    background-color: #222;
    color: #fff;

}
.margin{
margin-top: 1.4rem;
}

.margin {
    margin-top: 1.4rem;

}
