@import "../abstracts//variables";


.button-link{
width:100%;
margin:10px;
text-align:center;
margin:0 auto;
}


.ibrid-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
text-align:center;
padding-top:1.3rem;
margin:0 auto;
padding-botttom:1.3rem;


}

.bgg222{
background-color:#222;
color:#fff;

}
.margin{
margin-top: 1.2rem;
padding-top:0;
}



