@import "../abstracts//variables";
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-100%);
    }
    75%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(-200%);
    }
    
    
}
.container{
    width: 100%;
display:flex;
align-items:center;
margin:0 auto;
    border-radius: 8px;

}
.wrapper{
    width: 90%;
    display: flex;
    animation: slide 16s infinite;
}


.next-color{
    color: $colorgroup2a;
}
.next-color-option {
    color: $colorgroup2a;
}
.add-to-cart{
    background: $colorgroup5b;
    color:white;
margin:10px;
border: none;

}
