@import "../abstracts//variables";

.sale {
    width: $width1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-top: 8rem;
    background-image: url(/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $color0;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;


}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;

    -moz-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
}

.font-size {
    font-size: 7rem;
}

.shop-now {
    background: white;
    color: black;
    text-align: center;
    transition: 0.5s;
    padding: 9px 22px;
    border: none;
}