@import "../abstracts//variables";
.shop-now {
    width: $width2;
    margin: $margin;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    justify-content: space-between;
    border-radius: 5px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: url("https://images.unsplash.com/photo-1494908528889-fa8ed729bcd8?q=80&w=2703&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(50%);
    color: white;
    background-attachment: scroll;
    margin-top:5.9rem;
    z-index: 0;
   
  
}

.shop-now-link {
    margin-top: 50px;
    background-color: brown;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    transition: 0.5s ease;
    color: white;
}

.shop-now-link:hover {
    opacity: 0.7;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;

    -moz-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
}



.shop-nows {
    background: white;
    color: black;
    text-align: center;
    transition: 0.5s;
    padding: 9px 22px;
    border: none;
}