}
        .filter {
          margin-bottom: 20px;
        }
        .filter input {
          padding: 8px;
          width: 200px;
        }
        button {
          padding: 10px 20px;
          background-color: #0070f3;
          color: white;
          border: none;
          cursor: pointer;
          margin-bottom: 20px;
        }
        button:hover {
          background-color: #005bb5;
        }
        .product-list {
          list-style: none;
          padding: 0;
        }
        .product-list li {
          padding: 10px;
          border-bottom: 1px solid #ddd;
        }



.contact-container{
width:100%;
flex-direction:column;
gap: 1rem;
display: flex;
text-align: start;
padding-left:10px;
padding-right:10px;
padding-top: 40px;
}


.ibrid-flex {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  justify-content: space-between;
  }

.ibrid-heading {
  padding: 0px;
   }

.add-to-cart {
  text-align: center;
  border-radius: 4px;
  transition: 0.5s ease;
  padding: 6px 12px;
  margin: 10px;
}


.faqList {
  border-top: 1px solid #ddd;
}

.faqItem {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.question {
   width:100%;
display:flex;
flex-direction:column;
  background: none;
  border: none;
  font-size: 18px;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.answer {
  padding: 10px;
  font-size: 16px;
  color: #555;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-top: 5px;
}

.arrow {
  font-size: 16px;
}

 
