

.ibrid-flex {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
padding-top:1.3rem;
padding-bootom:1.3rem;
 
}

.ibrid-heading {
    padding: 0px;
}
.add-to-cart {
    text-align: center;
    border-radius: 4px;
    transition: 0.5s ease;
padding: 6px 12px;
margin:10px;

}