@import "../abstracts/variables";

.wrapper.seven {
   text-align: center;
   background-color: #808080;
   padding: $padding1;
   color: whitesmoke;
   opacity: 2;
   width: 100%;
  
   

}

.seven>div {
    width: auto;
    margin: 1rem auto;
}

.seven .text {
    font-size: 1rem;
    margin: 1rem auto;

}

