@import "../abstracts/variables";

.wrapper.seven {
   text-align: center;
   background-color: $secondaryColor1;
   padding: $padding1;
   color: lawngreen;
   opacity: 2;
   

}

.seven>div {
    width: auto;
    margin: 1rem auto;
}

.seven .text {
    font-size: 1rem;
    margin: 1rem auto;

}

