.container {
margin-top: 14rem;
  text-align: center;
}
.head{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  margin-top: 1rem;
}
.body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    margin-top: 1rem;

}
