.container {
margin-top: 3rem;
padding-top: 6%;
padding-bottom: 6%;
  text-align: center;
}
.head{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  margin-top: 1rem;
  
}
.body{
  display: grid;
  grid-template-columns:repeat(6, 1fr);
  align-items: center;

}

@media (max-width: 700px) {
  .head {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      margin-top: 1rem;
  
    }
        .body {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
    
        }

}
