@import "../abstracts/variables";
.container {
width:100%;


}

.sticky{
width:100%;
top:0;
position:sticky;
z-index:999;
}
.head{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: start;
  
}
.buttons{
max-width:50px;
}
.body{
  display: grid;
  grid-template-columns:repeat(6, 1fr);
  align-items: center;
  justify-content: start;

}
.buttons-cart{
  color: white;
  padding: 8px 12px;
  background-color: $colorgroup2b;
  margin: 7px;
}

@media (max-width: 700px) {
  .head {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    margin:0 auto;
  
    }
        .body {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
margin:0 auto;
    
        }
.buttons {
 display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
margin:0 auto;

}

}
