.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);



}

.image {
  object-fit: center;
  background: white;
  border-radius: 4px;
  max-width: 100%;
}

.info {}

.image:hover {
  transform: scale(0.5);
}

.card:hover .info {
  opacity: 0.9;
}

.black {
  color: #000;
}

.column {
  grid-row: span 1;
  grid-column: span 1;
  background-color: antiquewhite;
  margin: 0 auto;
}

.row:after {}