.card {
  flex-basis: 46%;
    padding: 2%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;


}
.image {
  object-fit: center;
background: white;
    border-radius: 4px;
    max-width: 100%;
}
.info {
margin-top: auto;
  color: #000;
  text-align: center;
}
.card:hover .image {
  transform: scale(0.5);
}
.card:hover .info {
  opacity: 0.9;
}
.black{
  color: #000;
}
