.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;

}


.links {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.navlink {
  display: flex;
  flex-direction: row;

}


.navlink a {
  text-decoration: none;

}

