.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  padding: 8px 15px;
  
}


.title {
 
  font-weight: 600;


}

.category {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.button {
  margin-top: 0.5rem;
  padding: 5px 24px;
  background: transparent;
  text-transform: uppercase;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
.button:hover {
  background: black;
  color: white;
}
