.card {
 
  margin: 0 auto;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
}


.title, .category, .description, .price {
 text-align: start;

  padding-top: 5px;
  padding-bottom: 5px;


}


.border{
  border: none;
transition: 0.5s ease;
}
.border:hover {
 opacity: 0.3;
}
.button {
  text-align: center;
  transition: 0.5s ease;
  border: 1px solid #000;
  padding: 7px 16px;
}
.button:hover {
  background-color: #000;
  color: white;
opacity: 0.7;}

