.container {



  width: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  margin: 0 auto;

}

.cards {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0 auto;
  border: none;
  background-color: whitesmoke;




}