@import "../abstracts/variables";


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    height: 3px;
    width: 7px;
    scroll-behavior: smooth;
    transition: 0.3s ease;
}

::-webkit-scrollbar-track {
    scroll-behavior: smooth;
    border-radius: 0;
    transition: 0.3s ease;


}

::-webkit-scrollbar-thumb {
  
    transition: 0.3s ease;
}

html {
    font-size: 87.5%;
    scroll-behavior: smooth;
    transition: 0.3s ease;
    overflow-x: hidden;

}

a {
    text-decoration: none;
    transition: 0.5s ease;

}


.MyApp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}


body,
html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Berlin sans', 'Futura', 'Proxima Nova', 'Lato', 'Roboto', sans-serif;
    font: antialised;
    -webkit-font-smoothing: antialised;
    -moz-font-smoothing: grayscale;
    text-align:left;

}

button {
    display: block;
    max-width: 400px;
    font: inherit;
    border-radius: 3px;
    padding:0.6rem 3.6rem;
    background: none;
    color: black;
    font: inherit;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
    -webkit-appearance: button important;
    -moz-appearance: button;
    -o-appearance: button;
    appearance: button;
}

button:hover {
    opacity: 0.6;
}

input {
    display: block;
    max-width: 430px;
    font: inherit;
    border-radius: 3px;
padding:0.6rem 3.6rem;

}

input[type=submit] {
    display: block;
    max-width: 400px;
    font:inherit;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;
padding:0.6rem 3.6rem;
   background-color: $color9;

}

textarea {
    display: block;
    max-width: 430px;
    font: inherit;
    padding: 0.6rem 4.2rem;
    border-radius: 3px;
    margin: 0 auto;
    -webkit-appearance: textarea;
    -moz-appearance: textarea;
    -o-appearance: textarea;
    appearance: textarea;
}
label, input {
display: inline-block;
}

input::-webkit-input-placeholder {
    font: inherit;
}

input::-moz-placeholder {
    font: inherit;
}

input:-ms-input-placeholder {
    font: inherit;
}

input::-ms-input-placeholder {
    font: inherit;
}

input::placeholder {
    font: inherit;
  
   
}



footer {
    margin-top: auto;
}

ul {
    display: block;
    transition: 0.5s ease;
    padding: 0;
    text-decoration: none;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

li {
    margin: 0 auto;
    text-align: center;
    display: block;
    transition: 0.5s ease;
    cursor: pointer;
    padding: 1vh;
   

}
h1 {
    font-weight: 700;
  

}

h2 {
    font-weight: 600;
 
}

h3 {
    font-weight: 700;
    
}

h4 {
    font-weight: 400;
  
}

h5 {
    font-weight: 300;
   
}

h6 {
    font-weight: 200;
 
}



p, span{
    line-height: 1.5;
    font-weight: 100;
 

}
