@import "../abstracts/variables";


h1 {
    font-weight: 700;
  

}

h2 {
    font-weight: 600;
 
}

h3 {
    font-weight: 700;
    
}

h4 {
    font-weight: 400;
  
}

h5 {
    font-weight: 300;
   
}

h6 {
    font-weight: 200;
 
}

p, span{
    line-height: 1.5;
    width:89%;
}







