.dropdown {
  width: 100%;
}

.bm-burger-button {
  position: fixed;
  width: 22px;
  height: 27px;
  left: 26px;
  top: 20px;
}

.bm-burger-bars {
  background: black;
}

.bm-burger-bars-hover {
  background: var(--magenta);
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: var(--secondary);
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1em;
  background: var(--primary);
}

bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: var(--secondary);
}

.bm-item {
  display: inline-block;
  text-align: start;
  color: skyblue;
  padding: 0.9rem;
  transition: 0.3s ease;
  font-weight: 600;
  color: var(--secondary);
}
.bm-item:hover {
  color: var(--secondary);
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
