.rowz{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -16px;
   margin-top: 4rem;
}
.col-50{
    -ms-flex: 25%;
    flex: 50%;
}
.col-85{
    -ms-flex: 75%;
    flex: 75%;

}
.col-50, 
.col-85{
padding: 0 16px;
}
.container-form{
    background-color: #f2f2f2;
    padding: 5ppx 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}
label{
    margin-bottom: 10px;
    display: block;
}
.icon-container{
    margin-bottom: 20px;
    padding: 7px 0;
 
}
input[type=text]{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 3ppx;
    border: 1px solid #ccc;
}