.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
}

.hide {
  display: none;
}
.icon-black {
  color: black;
  padding: 1.3rem;
}
.salmon {
  color: black;
  gap: 2rem;
  transition: 0.3s ease;
}

.input-logo {
  background-color: $color-ascent;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-left: -2rem;
}

.cart-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.4rem;
}
.search-form {
  padding: 0.6rem;
  width: 100%;
  border-style: groove;
  border-radius: 9px;
  border: none;
}
.socials {
  display: flex;
  gap: 0.9rem;
  flex-direction: row;
}

.searchInput {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.input {
  background-color: rgb(217, 220, 222);
  border: none;
  padding: 0.8rem;
  width: 100%;
  border-radius: 1.5rem;
}

input[type="checkbox"] {
  display: none;
}

nav ul {
  max-height: 0px;
  overflow: hidden;
  list-style: none;
  transition: all 1s cubic-bezier(0.325, 1, 0.22, 1);
}

nav li {
  border-bottom: 0.18rem solid #fff;
  color: #fff;
  font-size: 16px;
  padding: 5px 0;
  display: flex;
  justify-content: center;
}

nav li:last-of-type {
  margin-bottom: 0.625rem;
}

nav li a {
  font-family: Nunito;
  text-decoration: none;
}
nav li a:hover {
  text-decoration: underline;
}

input[type="checkbox"]:checked ~ nav ul {
  height: auto;
  max-height: 12rem;
  transition: all 1s cubic-bezier(0.5, 1, 0.22, 1);
}

.hamburger {
  display: block;
  position: absolute;
  top: 18px;
  right: 13px;
  height: 27px;
  width: 27px;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.line {
  position: absolute;
  display: block;
  background: #3d3d3d;
  width: 18px;
  height: 0.15rem;
  border-radius: 0.2rem;
  left: 0;
  transition: all 0.6s cubic-bezier(0.5, 0.1, 0, 1.2);
}

.line-1 {
  top: 0;
}

.line-2 {
  top: 7px;
  width: 14px;
  transform: translateX(2px);
  -webkit-transform: translateX(2px);
}

.line-3 {
  top: 14px;
}

input[type="checkbox"]:checked ~ label .line-1 {
  top: 0px;
  width: 22px;
  transform: translateX(-11px) rotate(-45deg) translateY(12px);
}

input[type="checkbox"]:checked ~ label .line-2 {
  opacity: 0;
}

input[type="checkbox"]:checked ~ label .line-3 {
  top: 14px;
  width: 22px;
  transform: translateX(-8px) rotate(45deg) translateY(-8px);
}
