.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}

.hide {
  display: none;
}
.icon-black {
  color: black;
  padding: 1.3rem;
}
.salmon {
  color: black;
  gap: 2rem;
  transition: 0.3s ease;
}

.input-logo {
  background-color: $color-ascent;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-left: -2rem;
}

.cart-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.4rem;
}
.search-form {
  padding: 0.6rem;
  width: 100%;
  border-style: groove;
  border-radius: 9px;
  border: none;
}
.socials {
  display: flex;
  gap: 0.9rem;
  flex-direction: row;
}

.searchInput {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.input {
  background-color: rgb(217, 220, 222);
  border: none;
  padding: 0.8rem;
  width: 100%;
  border-radius: 1.5rem;
}

/* CHECKBOX HACK */

input[type="checkbox"] {
  display: none;
}
#checkbox_toggle {
  display: none;
}

/*HAMBURGER MENU*/

.hamburger {
  display: none;
  font-size: 24px;
}

/* APPLYING MEDIA QUERIES */
