.integrity-wrapper {
  width: 100%;
display: grid;
grid-template-columns: 1fr; 
margin-top: 4rem; 
padding: 20px;

}
.integrity-item {
margin: 0 auto;
padding: 3rem;

}
.integrity-item h4, p {
  padding-top: 1rem;

}
