.integrity-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 7rem;
  flex-wrap: wrap;
}
.integrity-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
