#slide-1,
#slide-2,
#slide-3,
#slide-4,
#slide-5{
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
padding: 1rem ;

}
.buy-now{
  background-color: #ce1126;
  color: #fff;
  transition: 0.3s ease;
  padding: 10px 12px;

}
.buy-now:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s ease;

}

.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
  height: 100%;
  margin-top: 5rem;
  z-index: 1;
  margin: 20px auto;
  position: relative;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  background: #4B5320;
 

}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin-right: 50px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.slider > a {
  display: inline-flex;
  width: 1.5rem;
  color: black;
  text-align: center;
  padding: 5px 7px;
  text-decoration: none;
  align-items: center;
  border-radius: 7px;
  margin: 0.6rem;
  position: relative;
}

.slider > a:active {
  top: 1px;
}

.slider > a:focus {
  background: #000;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}
.wrapper.six {
  background-color: #0193dd;
}
.flicker {
  font-size: 1.2rem;
  margin: 1rem auto;
  color: #fffefe61;
  background: -webkit-gradient(linear,left top,right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
  background: gradient(linear,left top,right top, from(#222),to(#222), color-stop(0.8, #fff)) no-repeat;
  background-size: 110px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: flick 1.5s infinite;
    
}
@keyframes flick {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
h6, h2{
  color: #fcd116;
}
