
.wrapper.seven {
   text-align: center;
}

.seven>div {
    width: auto;
    margin: 1rem auto;
}

.seven .text {
    font-size: 1rem;
    margin: 1rem auto;

}

.text span {
    font-family: 'Indie Flower', cursive;
    line-height: 0;
    animation: disappear 4s 2s both infinite;
}

@keyframes disappear {
    50% {
        text-shadow: 0 0 40px #cbc7c7;
    }

    to {
        text-shadow: 0 0 20px #cbc7c7;
        opacity: 0;
    }
}