.card {
  margin: 0.5rem;
  position: relative;
  padding: 2rem 2rem;

}
.image {
  object-fit: center;
  transition: all 5s cubic-bezier(0.14, 0.96, 0.91, 0.6);
  background-color: #fff;
  border-radius: 4px;
}
.info {
  background: white;
  padding: 1rem;
  text-align: center;
  opacity: 0.8;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  color: #fff;
  background: #000;
}
.card:hover .image {
  transform: scale(1.2);
}
.card:hover .info {
  opacity: 0.9;
}
