.card {
  margin: 0.8rem;
  position: relative;
  padding: 2rem 2rem;
  border-radius: 4px;


}
.image {
  object-fit: center;
  transition: all 5s cubic-bezier(0.14, 0.96, 0.91, 0.6);
background: white;
    border-radius: 4px;
}
.info {

  color: #000;
  background: #fff;
}
.card:hover .image {
  transform: scale(1.5);
}
.card:hover .info {
  opacity: 0.9;
}
.black{
  color: #000;
}
