@charset "UTF-8";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  height: 6px;
  /* height of horizontal scrollbar ← You're missing this */
  width: 4px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #c5cae921;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #2196f3;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.MyApp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

button {
  outline: 0 !important;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

button:active,
button:hover {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  outline: #2196f3;
}
a {
  text-decoration: none;
  display: inline-block;
  transition: 0.3s ease;
}

li {
  list-style: none;
  display: inline-block;
  padding: 1rem;
}

body,
html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-x: none;
}

footer {
  margin-top: auto;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

input::-webkit-input-placeholder {
  font: inherit;
}

input::-moz-placeholder {
  font: inherit;
}

input:-ms-input-placeholder {
  font: inherit;
}

input::-ms-input-placeholder {
  font: inherit;
}

input::placeholder {
  font: inherit;
}
:root {
  /**
   * colors
   */

  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);
  --coast: rgba(216, 216, 216, 0.448);

  /**
   * typography
   */

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /**
   * border-radius
   */

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /**
   * transition 
   */

  --transition-timing: 0.2s ease;
}
