.container {
  padding: 0 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10rem;
  justify-content: center;
  display: grid;
  gap: 3rem;
}
.small {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.large {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
