.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-left: 3rem;
}


.links {
  display: flex;

}
.navlink {
  list-style: none;
  margin: 0 0.75rem;
  text-transform: uppercase;
  margin-top: 3rem;

}


.navlink a {
  text-decoration: none;
  color: black;
}
.navlink a:hover {
  color: #f9826c;
}

