.title {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0 1rem 1rem;
  margin-top: 9rem;
}
.container {
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1.5rem 1.2rem;
  place-items: center;

  
}
