.title {
margin-top: auto;
}
.container {
display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 3rem;
}
.cards {
  display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 2rem;
    margin: 0 auto;

  
}
